
html{
  background-color: #f3ebff;
}
header{
  background-color: #d6bbfc;	;
  font-size: 24px;
}
nav ul li:hover {
  background-color: #ffff1a;
  font color: purple;

}
.ul {
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 0;
}
nav ul li {
  display:inline;
  font-family: Georgia, serif;

}
ul li {
  padding: 10px 60px;
  text-align: center;
}
h1{
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
}
.container{
  position: relative;
}
.container .par1{
  width: 50%;
  margin: auto;
  padding: 1px;
  box-sizing: border-box;
  position: absolute;
  right: 100px;
  top: 120px;
  border: 1px solid red;
}
.container .img{
  border: 5px purple solid;
  width: 40%;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
}
.container h1{
  font-family: Tahoma;
}
